
[DESIGN]

# Maximum number of arguments for a function/method
max-args=10

# Maximum number of positional arguments for a function/method
max-positional-arguments=10

# Maximum number of attributes for a class (see R0902)
max-attributes=15

# Maximum number of locals for a function/method body
max-locals=30

# Maximum number of statements in a function/method body
max-statements=80

# Maximum number of return/yield statements in a function/method body
max-returns=10

# Minimum number of public methods for a class (see R0903)
min-public-methods=0


[FORMAT]

# Maximum number of characters on a single line
max-line-length=150

# Maximum number of lines in a module
max-module-lines=2000
