
<span *ngIf="isLoading" class="spinner spinner-centered"></span>

<div *ngIf="project" id="panels-container">

    <aside id="options-pane">
        <clr-select-container>
            <label>Analysis method</label>
            <select clrSelect name="analysis-method" [(ngModel)]="selectedAnalysisMethod">
                <option *ngIf="!selectedAnalysisMethod" [ngValue]="null">Select an analysis method...</option>
                <option *ngFor="let analysisMethod of project.analysisMethods" [ngValue]="analysisMethod">{{ analysisMethod.name }}</option>
            </select>
        </clr-select-container>
        <clr-select-container *ngIf="selectedAnalysisMethod">
            <label>Category</label>
            <select clrSelect name="category" [(ngModel)]="selectedCategory">
                <option *ngIf="!selectedCategory" [ngValue]="null">Select a category...</option>
                <option *ngFor="let category of selectedAnalysisMethod.categories" [ngValue]="category">{{ category.humanReadableName }} ({{ category.name }})</option>
            </select>
        </clr-select-container>
        <clr-select-container *ngIf="selectedAnalysisMethod">
            <label>Clustering</label>
            <select clrSelect class="full-width" name="clustering" [(ngModel)]="selectedClustering">
                <option *ngIf="!selectedClustering" [ngValue]="null">Select a clustering...</option>
                <option *ngFor="let clustering of selectedAnalysisMethod.clusterings" [value]="clustering">{{ clustering }}</option>
            </select>
        </clr-select-container>
        <clr-select-container *ngIf="selectedAnalysisMethod">
            <label>Embedding</label>
            <select clrSelect name="embedding" [(ngModel)]="selectedEmbedding">
                <option *ngIf="!selectedEmbedding" [ngValue]="null">Select a embedding...</option>
                <option *ngFor="let embedding of selectedAnalysisMethod.embeddings" [value]="embedding">{{ embedding }}</option>
            </select>
        </clr-select-container>
        <clr-select-container *ngIf="embeddingDimensions && embeddingDimensions.length > 2">
            <label>X-Axis</label>
            <select clrSelect name="horizontal-axis-dimension-index" [(ngModel)]="firstDimension">
                <option *ngFor="let index of embeddingDimensions" [value]="index">{{ index }}</option>
            </select>
        </clr-select-container>
        <clr-select-container *ngIf="embeddingDimensions && embeddingDimensions.length > 2">
            <label>Y-Axis</label>
            <select clrSelect name="vertical-axis-dimension-index" [(ngModel)]="secondDimension">
                <option *ngFor="let index of embeddingDimensions" [value]="index">{{ index }}</option>
            </select>
        </clr-select-container>
        <clr-select-container *ngIf="colorMaps">
            <label>Color map</label>
            <select clrSelect name="color-map" [(ngModel)]="selectedColorMap">
                <option *ngIf="!selectedColorMap" [ngValue]="null">Select a color map...</option>
                <option *ngFor="let colorMap of colorMaps" [ngValue]="colorMap">{{ colorMap.humanReadableName }}</option>
            </select>
        </clr-select-container>
        <img *ngIf="selectedColorMap" [src]="selectedColorMap.url" [alt]="selectedColorMap.humanReadableName" />
        <div class="btn-group" *ngIf="selectedAnalysisMethod">
            <div class="radio btn">
                <input type="radio" name="img-radio" id="img-radio-input" value="input" [(ngModel)]="imageMode">
                <label for="img-radio-input">Input</label>
            </div>
            <div class="radio btn">
                <input type="radio" name="img-radio" id="img-radio-overlay" value="overlay" [(ngModel)]="imageMode">
                <label for="img-radio-overlay">Overlay</label>
            </div>
            <div class="radio btn">
                <input type="radio" name="img-radio" id="img-radio-attribution" value="attribution" [(ngModel)]="imageMode">
                <label for="img-radio-attribution">Attribution</label>
            </div>
        </div>
        <input *ngIf="selectedAnalysisMethod" type="file" id="file-import" class="btn btn-primary" (change)="onImportChange($event.target.files)">
        <label *ngIf="selectedAnalysisMethod" for="file-import" class="btn btn-primary" id="import-label">Import</label>
        <button *ngIf="selectedAnalysisMethod" id="button-export" class="btn btn-primary" (click)="onExportClick()">Export</button>
    </aside>

    <section id="embedding-plot">
        <app-embedding-visualizer
            *ngIf="analysis"
            [(ngModel)]="selectedDataPoints"
            [embedding]="analysis.embedding"
            [firstDimension]="firstDimension"
            [secondDimension]="secondDimension"
            (onHover)="onHoverAsync($event)"
            (onUnhover)="onUnhover()">
        </app-embedding-visualizer>

        <img
            id="attribution-hover-preview"
            *ngIf="datasetSampleHoverPreview && isHovering"
            [src]="datasetSampleHoverPreview.url"
        />
    </section>

    <aside id="selected-attributions">
        <span *ngIf="isLoadingAttributions" class="spinner spinner-locally-centered"></span>

        <div *ngIf="!isLoadingAttributions && (!selectedDataPoints || selectedDataPoints.length === 0)" id="selection-hint">
            <p>Select data points to display attributions...</p>
        </div>

        <div *ngIf="!isLoadingAttributions && selectedAttributions && selectedAttributions.length > 0" id="selected-attribution-list">
            <div *ngFor="let selectedAttribution of selectedAttributions" class="selected-attribution" [title]="selectedAttribution.attribution.labelDisplay">
                <img [src]="selectedAttribution.attribution.urls[selectedColorMap.name]" [alt]="selectedAttribution.attribution.labelDisplay">
                <p><span [style.color]="selectedAttribution.color">&#11044;</span> Cluster {{ selectedAttribution.clusterIndex + 1 }}</p>
            </div>
        </div>
    </aside>

    <aside id="cluster-pane">
        <plotly-plot
            *ngIf="eigenValuesGraphData"
            [data]="eigenValuesGraphData"
            [layout]="eigenValuesGraphLayout"
            [config]="{ displayModeBar: false }"
            [style]="{ width: '226px', height: '400px', 'marginLeft': '12px' }">
        </plotly-plot>

        <div class="cluster-selection-buttons-container">
            <button *ngFor="let cluster of availableClusters" class="btn btn-outline" (click)="selectCluster(cluster.index)">
                <span [style.color]="cluster.color">&#11044;</span> Select cluster {{ cluster.index + 1 }}
            </button>
        </div>
    </aside>

    <footer id="status-bar">
        <clr-icon shape="library"></clr-icon> <strong>Project:</strong> {{ project.name }}
        <clr-icon shape="storage"></clr-icon> <strong>Dataset:</strong> {{ project.dataset }}
        <clr-icon shape="organization"></clr-icon> <strong>Model:</strong> {{ project.model }}
    </footer>
</div>
