
.virelay-logo {
    background-image: url(/assets/images/virelay-logo.png);
    background-size: 36px 36px;
	margin-right: 11px;
	height: 36px;
	width: 36px;
}

.content-area {
	padding: 0 !important;
}
