
#panels-container {
    display: grid;
    grid-template-rows: 1fr 35px;
    grid-template-columns: 1fr 300px;
    grid-template-areas:
        "data-panel information-panel"
        "footer footer"
    ;

    section {
        grid-area: data-panel;
        width: calc(100vw - 300px);
        height: calc(100vh - 95px);
    }

    aside {
        grid-area: information-panel;

        background-color: #EFEFEF;
        z-index: 1;

        form {
            width: 250px;
            margin: 0 auto;
        }
    }

    footer {
        grid-area: footer;

        display: flex;
        align-items: center;

        padding-left: 1rem;
        z-index: 1;
        background-color: #18111d;
        color: white;

        strong {
            margin-left: 5px;
            margin-right: 5px;
        }

        clr-icon {
            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }
}
