
<span *ngIf="isLoading" class="spinner spinner-centered"></span>

<div *ngIf="project" id="panels-container">

    <aside id="options-pane">
        <clr-select-container>
            <label>Analysis method</label>
            <select clrSelect name="analysis-method" [(ngModel)]="selectedAnalysisMethod">
                <option *ngIf="!selectedAnalysisMethod" [ngValue]="null">Select an analysis method...</option>
                <option *ngFor="let analysisMethod of project.analysisMethods" [ngValue]="analysisMethod">{{ analysisMethod.name }}</option>
            </select>
        </clr-select-container>
        <clr-select-container *ngIf="selectedAnalysisMethod">
            <label>Category</label>
            <select clrSelect name="category" [(ngModel)]="selectedCategory">
                <option *ngIf="!selectedCategory" [ngValue]="null">Select a category...</option>
                <option *ngFor="let category of selectedAnalysisMethod.categories" [ngValue]="category">{{ category.humanReadableName }} ({{ category.name }})</option>
            </select>
        </clr-select-container>
        <clr-select-container *ngIf="selectedAnalysisMethod">
            <label>Clustering</label>
            <select clrSelect class="full-width" name="clustering" [(ngModel)]="selectedClustering">
                <option *ngIf="!selectedClustering" [ngValue]="null">Select a clustering...</option>
                <option *ngFor="let clustering of selectedAnalysisMethod.clusterings" [value]="clustering">{{ clustering }}</option>
            </select>
        </clr-select-container>
        <clr-select-container *ngIf="selectedAnalysisMethod">
            <label>Embedding</label>
            <select clrSelect name="embedding" [(ngModel)]="selectedEmbedding">
                <option *ngIf="!selectedEmbedding" [ngValue]="null">Select a embedding...</option>
                <option *ngFor="let embedding of selectedAnalysisMethod.embeddings" [value]="embedding">{{ embedding }}</option>
            </select>
        </clr-select-container>
        <clr-select-container *ngIf="embeddingDimensions && embeddingDimensions.length > 2">
            <label>X-Axis</label>
            <select clrSelect name="horizontal-axis-dimension-index" [(ngModel)]="horizontalAxisDimensionIndex">
                <option *ngFor="let index of embeddingDimensions" [value]="index">{{ index }}</option>
            </select>
        </clr-select-container>
        <clr-select-container *ngIf="embeddingDimensions && embeddingDimensions.length > 2">
            <label>Y-Axis</label>
            <select clrSelect name="vertical-axis-dimension-index" [(ngModel)]="verticalAxisDimensionIndex">
                <option *ngFor="let index of embeddingDimensions" [value]="index">{{ index }}</option>
            </select>
        </clr-select-container>
        <clr-select-container *ngIf="colorMaps">
            <label>Color map</label>
            <select clrSelect name="color-map" [(ngModel)]="selectedColorMap">
                <option *ngIf="!selectedColorMap" [ngValue]="null">Select a color map...</option>
                <option *ngFor="let colorMap of colorMaps" [ngValue]="colorMap">{{ colorMap.humanReadableName }}</option>
            </select>
        </clr-select-container>
        <img *ngIf="selectedColorMap" [src]="selectedColorMap.url" [alt]="selectedColorMap.humanReadableName" />
    </aside>

    <section id="embedding-plot">
        <plotly-plot
            *ngIf="embeddingGraphData"
            [data]="embeddingGraphData"
            [layout]="embeddingGraphLayout"
            [useResizeHandler]="true"
            [style]="{ width: '100%', height: '100%' }"
            (hover)="onHoverAsync($event)"
            (unhover)="onUnhover($event)"
            (selected)="onSelectedAsync($event)"
            (deselect)="onDeselect()">
        </plotly-plot>

        <img
            id="attribution-hover-preview"
            *ngIf="datasetSampleHoverPreview && isHovering"
            [src]="datasetSampleHoverPreview.url"
            [alt]="datasetSampleHoverPreview.labelDisplay"
        />
    </section>

    <aside id="selected-data-points">
        <span *ngIf="isLoadingSelection" class="spinner spinner-locally-centered"></span>

        <div *ngIf="!isLoadingSelection && (!selectedDataPoints || selectedDataPoints.length === 0)" id="selection-hint">
            <p>Select data points to display attributions...</p>
        </div>

        <div *ngIf="!isLoadingSelection && selectedDataPoints && selectedDataPoints.length > 0" id="data-point-list">
            <div *ngFor="let dataPoint of selectedDataPoints" class="data-point" [title]="dataPoint.attribution.labelDisplay">
                <app-before-and-after-slider
                    [beforeImageSource]="dataPoint.attribution.urls[selectedColorMap.name]"
                    [afterImageSource]="dataPoint.sample.url"
                    [alt]="dataPoint.attribution.labelDisplay">
                </app-before-and-after-slider>
                <p><span [style.color]="dataPoint.color">&#11044;</span> Cluster {{ dataPoint.clusterIndex + 1 }}</p>
            </div>
        </div>
    </aside>

    <aside id="cluster-pane">
        <plotly-plot
            *ngIf="eigenValuesGraphData"
            [data]="eigenValuesGraphData"
            [layout]="eigenValuesGraphLayout"
            [style]="{ width: '226px', height: '400px', 'marginLeft': '12px' }">
        </plotly-plot>
    </aside>

    <footer id="status-bar">
        <clr-icon shape="library"></clr-icon> <strong>Project:</strong> {{ project.name }}
        <clr-icon shape="storage"></clr-icon> <strong>Dataset:</strong> {{ project.dataset }}
        <clr-icon shape="organization"></clr-icon> <strong>Model:</strong> {{ project.model }}
    </footer>
</div>
