
#panels-container {
    display: grid;
    grid-template-rows: 85px 1fr 35px;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
        "options-pane options-pane"
        "embedding-plot selected-embeddings"
        "status-bar status-bar"
    ;

    #embedding-plot {
        grid-area: embedding-plot;
        width: calc(100vw - 250px);
        height: calc(100vh - 180px);

        #attribution-hover-preview {
            position: absolute;
            top: 169px;
            left: 24px;
            z-index: 9999;
        }
    }

    #options-pane {
        grid-area: options-pane;

        display: flex;
        align-items: center;

        background-color: #EFEFEF;
        margin: 0;
        z-index: 1;

        overflow-x: auto;
        overflow-y: hidden;

        clr-select-container, img {
            margin: 0 0 0 24px;
        }

        img {
            padding-right: 24px;
            width: 174px;
            height: 40px;
        }
    }

    #selected-embeddings {
        grid-area: selected-embeddings;
        height: calc(100vh - 180px);

        background-color: #EFEFEF;

        overflow-x: hidden;
        overflow-y: auto;

        .spinner-locally-centered {
            position: relative;
            top: calc(50% - 1.5rem);
            left: calc(50% - 1.5rem);
        }

        #selection-hint {
            display: table;

            height: calc(100% - 12px);
            margin: 0 12px 12px 12px;

            border: 1px dashed rgb(192, 192, 192);
            border-radius: 5px;

            text-align: center;

            p {
                vertical-align: middle;
                display: table-cell;
            }
        }

        #embeddings-list {
            margin: 12px;

            &:first-child {
                margin-top: 0;
            }

            .embedding {
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    #status-bar {
        grid-area: status-bar;

        display: flex;
        align-items: center;

        padding-left: 1rem;
        z-index: 1;
        background-color: #271335;
        color: white;

        strong {
            margin-left: 5px;
            margin-right: 5px;
        }

        clr-icon {
            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }
}
