
#panels-container {
    display: grid;
    grid-template-rows: 85px 1fr 35px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "information-panel"
        "data-panel"
        "status-bar"
    ;

    section {
        grid-area: data-panel;
        width: 100vw;
        height: calc(100vh - 180px);

        #attribution-hover-preview {
            position: absolute;
            z-index: 9999;
        }
    }

    aside {
        grid-area: information-panel;

        background-color: #EFEFEF;
        margin: 0;
        z-index: 1;

        clr-select-container:first-child {
            margin-left: 12px;
        }
    }

    footer {
        grid-area: status-bar;

        display: flex;
        align-items: center;

        padding-left: 1rem;
        z-index: 1;
        background-color: #271335;
        color: white;

        strong {
            margin-left: 5px;
            margin-right: 5px;
        }

        clr-icon {
            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }
}
